/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-green: #388e3c;
  --color-light-green: #6abf69;
  --color-teal: #00796b;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  background-color: var(--color-teal);
  color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  padding: 15px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  font-size: var(--font-regular);
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  background-color: var(--color-light-green);
  transition: 0.5s;
}

.navbar__toggle-button {
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(imgs/homebackground.png) center/cover no-repeat;
  width: 100%;
  height: 550px;
  text-align: center;
  padding: 35px;
}

.home__avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 3px solid var(--color-teal);
}

.home__contact {
  border: 2px solid var(--color-black);
  margin-top: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  position: relative;
  transition: 0.5s;
}

.home__contact:hover {
  color: var(--color-white);
  z-index: 1;
}

.home__contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: var(--color-black);
  transition: 0.5s ease;
  color: var(--color-white);
  transition: 0.5s;
}

.home__contact:hover:before {
  width: 100%;
  z-index: -1;
}

/* section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 70px 0px;
}

.major__icon {
  border: 1px solid var(--color-teal);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: auto;
  font-size: 85px;
  line-height: 170px;
  margin-bottom: 20px;
  color: var(--color-light-green);
}

.major__icon i {
  transition: var(--animation-duration);
}

.major__icon:hover i {
  color: var(--color-green);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.academy {
  display: flex;
  align-items: center;
}

.academy__description {
  margin: 0px 16px;
  text-align: left;
}

.academy__name,
.academy__period {
  color: var(--color-light-grey);
}

.academy__name {
  font-size: var(--font-small);
}

.academy__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skillset__title {
  color: var(--color-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  margin-top: 10px;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 16px;
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
}

.etc {
  background-color: var(--color-light-grey);
}

.tools,
.etc {
  padding: 20px;
  height: 50%;
}

/* Work */
.category__btn {
  border: 1px solid var(--color-light-grey);
  margin: 3px 0px;
  padding: 8px 48px;
  text-transform: uppercase;
}

.category__btn:hover {
  background-color: var(--color-light-green);
}

.category__count {
  background-color: var(--color-teal);
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: -20px;
  left: 5px;
  transition: var(--animation-duration) ease;
  opacity: 0;
  color: var(--color-light-white);
}

.category__btn:hover .category__count {
  opacity: 1;
  top: 0px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  transition: var(--animation-duration);
}

.project__description h3 {
  color: var(--color-white);
  margin-bottom: 30px;
}

.project__description h3::after {
  content: "";
  display: block; /*한 줄에 하나씩 들어가기 위해*/
  position: relative;
  width: 50px;
  height: 2px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  background-color: var(--color-light-white);
}

.project__description:hover {
  opacity: 0.8;
  top: 0px;
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: auto;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
}

.testimonial__reference {
  width: 130px;
  height: 100px;
}

.testimonial__reference:nth-child(odd) {
  margin-right: 12px;
}

.testimonial__reference:nth-child(even) {
  margin-left: 12px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  padding: 18px;
  border-radius: 5px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.name a {
  color: var(--color-light-green);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__link,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 32px;
}

.contact__email {
  margin-bottom: 24px;
}

.contact__link i {
  margin-bottom: 16px;
  font-size: var(--font-medium);
  transition: var(--animation-duration);
}

.contact__link i:hover {
  transform: scale(1.2);
  color: var(--color-light-green);
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar__toggle-button{
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }
  /* Skills */
  .skillset {
    flex-direction: column;
  }
}