@charset "UTF-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-green: #388e3c;
  --color-light-green: #6abf69;
  --color-teal: #00796b;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #004a9f;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: transparent;
  color: var(--color-white);
  justify-content: space-between;
  align-items: center;
  transition: var(--animation-duration) ease-in-out;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  padding: 15px;
}

.navbar__menu {
  display: flex;
  color: var(--color-teal);
}

.navbar__menu__item {
  font-size: var(--font-regular);
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: var(--color-light-green);
  transition: var(--animation-duration) ease;
  border-color: var(--color-light-white);
}

.navbar__toggle-button {
  position: absolute;
  top: 23px;
  right: 25px;
  color: var(--color-white);
  margin-left: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
}

.navbar__toggle-button span {
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 3px;
  background: var(--color-black);
  transition: all 0.3s;
  position: relative;
}

.navbar__toggle-button span + span {
  margin-top: 5px;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 7px;
    transform: rotate(0);
  }
  100% {
    top: 7px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 7px;
    transform: rotate(45deg);
  }
  50% {
    top: 7px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#navbar.navbar--dark {
  background-color: var(--color-light-green);
  transition: var(--animation-duration) ease-in-out;
  z-index: 99;
}

#navbar.navbar--dark .navbar__menu {
  color: var(--color-white);
}

#navbar.navbar--dark .navbar__menu__item:hover {
  background-color: var(--color-teal);
}

/* Home */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(imgs/homebackground.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 35px;
  padding-top: 100px;
}

.home__container {
  max-width: 500px;
}

.home__title {
  color: var(--color-light-white);
}

.home__intro {
  color: var(--color-yellow);
}

.home__contact {
  border: 2px solid var(--color-white);
  margin-top: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  position: relative;
  transition: 0.5s;
  color: var(--color-dark-grey);
}

.home__contact:hover {
  color: var(--color-black);
  z-index: 1;
}

.home__contact::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: var(--color-white);
  transition: 0.5s ease;
}

.home__contact:hover:before {
  width: 100%;
  z-index: -1;
}

/* section common */
.section {
  text-align: center;
  padding: 55px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skillset__title {
  color: var(--color-white);
}

/* .skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  margin-top: 10px;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 16px;
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
}

.etc {
  background-color: var(--color-light-grey);
}

.tools,
.etc {
  padding: 20px;
  height: 50%;
} */

/* Work */
.category__btn {
  border: 1px solid var(--color-light-grey);
  margin: 3px 0px;
  padding: 8px 48px;
  text-transform: uppercase;
}

.category__btn.selected {
  background-color: var(--color-light-green);
}

.category__btn.selected .category__count {
  opacity: 1;
  top: 0px;
}

.category__count {
  background-color: var(--color-teal);
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: -20px;
  left: 5px;
  transition: var(--animation-duration) ease;
  opacity: 0;
  color: var(--color-light-white);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}

.project {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
}

.project.invisible {
  display: none;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  transition: var(--animation-duration);
}

.project__description h3 {
  color: var(--color-light-green);
  margin-bottom: 30px;
}

.project__description h3::after {
  content: '';
  display: block; /*한 줄에 하나씩 들어가기 위해*/
  position: relative;
  width: 50px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background-color: var(--color-light-white);
}

.project__description:hover {
  opacity: 0.8;
  top: 0px;
}

/* Announcement */
#announcement {
  background-color: var(--color-blue);
}

.announcement__video {
  width: 560px;
  height: 350px;
  margin: auto;
}

.info {
  color: var(--color-light-white);
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

.info::before {
  content: '4~5주간의 기초 자바수업을 마치고 일주일 동안 만든 미니프로젝트 결과물을 발표하는 첫 영상입니다.';
  position: absolute;
  width: 230px;
  height: 75px;
  background-color: var(--color-dark-blue);
  color: var(--color-light-white);
  font-size: var(--font-micro);
  left: 13px;
  top: -65px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: var(--animation-duration);
  opacity: 0;
  transform: skewX(-10deg);
  pointer-events: none;
}

.info:hover::before {
  left: 22px;
  top: -70px;
  opacity: 1;
}

/* History */
#history {
  background-color: var(--color-light-white);
}

.history__container {
  max-width: 760px;
  margin: auto;
}

.history__list {
  text-align: left;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.history__list::before {
  content: '';
  position: absolute;
  background-color: var(--color-teal);
  width: 5px;
  height: 0%;
  left: -1px;
  top: 0%;
}

.history__list.down::before {
  height: 100%;
  transition: all 5s ease-in-out;
}

.history__list::after {
  content: '';
  position: absolute;
  background-color: var(--color-teal);
  width: 0px;
  height: 0px;
  border-top: 10px solid var(--color-teal);
  border-left: 10px solid var(--color-light-white);
  border-right: 10px solid var(--color-light-white);
  border-bottom: 10px solid var(--color-light-white);
  left: -8px;
  top: 0%;
}

.history__list.down::after {
  top: 100%;
  transition: all 5s ease-in-out;
}

.history__list li {
  padding: 5px;
  margin: 0px 0px 50px 30px;
  position: relative;
  color: var(--color-light-grey);
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.history__list li:hover {
  transform: translateX(50px) scale(1.1);
}

.history__list li::before {
  content: '';
  position: absolute;
  background-color: var(--color-green);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 40%;
  left: -16px;
}

/* Testimonials */
#testimonials {
  background-color: var(--color-yellow);
}

.testimonials {
  margin: auto;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
  justify-content: center;
}

.testimonial__reference {
  width: 130px;
  height: 100px;
}

.testimonial__reference:nth-child(odd) {
  margin-right: 12px;
}

.testimonial__reference:nth-child(even) {
  margin-left: 12px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  padding: 18px;
  border-radius: 5px;
  max-width: 800px;
  line-height: 28px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.name a {
  color: var(--color-light-green);
}

/* Contact */
#contact {
  background-color: var(--color-teal);
}

.contact__title,
.contact__email,
.contact__link,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 32px;
}

.contact__email {
  margin-bottom: 24px;
}

.contact__link i {
  margin-bottom: 16px;
  font-size: var(--font-large);
  transition: var(--animation-duration);
}

.contact__link i:hover {
  transform: scale(1.2);
  color: var(--color-light-green);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: var(--font-medium);
  background-color: var(--color-light-green);
  border-radius: 50%;
  color: var(--color-light-white);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  text-align: center;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  /* Font size */
  :root {
    --font-large: 32px;
    --font-medium: 23px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 10px;
  }

  /* Navbar */
  .navbar__toggle-button {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-light-green);
    z-index: 99;
  }

  .navbar__menu__item {
    color: var(--color-light-white);
  }

  .navbar__menu__item:hover {
    background-color: var(--color-teal);
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  /* Home */
  .home__container {
    transform: translateY(15%);
  }

  .home__avatar {
    width: 200px;
    height: 200px;
  }

  /* Skills */
  .skillset {
    flex-direction: column;
  }

  .about__majors {
    flex-direction: column;
  }

  .major:nth-child(1) {
    margin-bottom: 25px;
  }

  /* My work */
  .category__btn {
    width: 100%;
  }

  /* Announcement */
  .announcement__video {
    width: 280px;
    height: 200px;
  }

  .info::before {
    width: 100px;
  }

  /* History */
  .history__list li:hover {
    transform: translateX(20px);
  }

  /* Testimonials */
  .testimonial {
    flex-direction: column;
  }

  .testimonial__speech-bubble {
    order: 1;
    margin-top: 8px;
    font-size: var(--font-micro);
  }
}
