@charset "UTF-8";
/* 리셋 */
html, body, header, main, footer, div, span, p, ol, ul, li, /* */
h1, h2, h3, h4, h5, h6, em, strong, address {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  line-height: 1;
  background: linear-gradient(#000000, #0b0c2b);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: top;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  transition: 0.3s ease-in-out;
  z-index: 999;
}

.header-dark {
  transform: translateY(-100px);
}

.home-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 99;
}

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin-left: 20px;
  cursor: pointer;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.navbar-item:hover {
  background-color: #fff;
  color: #7579de;
}

/* Home */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.home-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 99;
}

.home-container::before {
  content: 'Vector created by upklyak';
  text-align: right;
  position: absolute;
  bottom: -40px;
  right: 10px;
  color: ghostwhite;
}

.home-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.moon {
  transition: 0.3s ease-in 0s;
}

.stars {
  transition: 0.3s all;
}

.mountainsFront {
  z-index: 10;
}

.greet {
  position: absolute;
  top: 38%;
  color: #fff;
  white-space: nowrap;
  font-size: 3rem;
  z-index: 9;
  cursor: default;
}

.intro-btn {
  position: relative;
  font-size: 1.5rem;
  background-color: #fff;
  color: #2b1055;
  border: none;
  border-radius: 40px;
  padding: 8px 32px;
  z-index: 9;
  transform: translateY(100px);
  cursor: pointer;
  outline: none;
  transition: 0.3s all;
}

.intro-btn::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 35px;
  left: 47%;
  width: 12px;
  height: 12px;
  border-top: 3px solid ghostwhite;
  border-right: 3px solid ghostwhite;
  transform: rotate(135deg);
  transition: 0.3s all;
  opacity: 0;
}

.intro-btn:hover::before {
  top: 55px;
  opacity: 1;
}

/* Intro */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 7.5em 6.25em;
  background-color: #1c0522;
}

.intro-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #fff;
}

.description {
  max-width: 67.5rem;
  color: #fff;
  line-height: 1.25rem;
}
/* Arrow Button */
.arrow-up {
  position: fixed;
  bottom: 8%;
  right: 35px;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  color: black;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  text-align: center;
  cursor: pointer;
  z-index: 99;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
